USE [master]
GO
/****** Object:  Database [marriage]    Script Date: 2017/7/22 17:29:11 ******/
CREATE DATABASE [marriage]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'marriage', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\marriage.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'marriage_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\marriage_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [marriage].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [marriage]
GO
/****** Object:  User [marriage]    Script Date: 2017/7/22 17:29:13 ******/
CREATE USER [marriage] FOR LOGIN [marriage] WITH DEFAULT_SCHEMA=[db_owner]
GO
ALTER ROLE [db_owner] ADD MEMBER [marriage]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [marriage]
GO
/****** Object:  Table [db_owner].[user]    Script Date: 2017/7/22 17:29:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [db_owner].[user](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NULL,
	[password] [varchar](50) NULL,
 CONSTRAINT [PK_Table_1] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[advice]    Script Date: 2017/7/22 17:29:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[advice](
	[aid] [int] IDENTITY(1,1) NOT NULL,
	[CaseId] [int] NULL,
	[advice] [varchar](50) NULL,
 CONSTRAINT [PK_advice] PRIMARY KEY CLUSTERED 
(
	[aid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[case]    Script Date: 2017/7/22 17:29:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[case](
	[cid] [int] NOT NULL,
	[type] [varchar](max) NULL,
 CONSTRAINT [PK_case] PRIMARY KEY CLUSTERED 
(
	[cid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[document]    Script Date: 2017/7/22 17:29:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[document](
	[did] [int] IDENTITY(1,1) NOT NULL,
	[title] [varchar](50) NULL,
	[content] [varchar](max) NULL,
	[CaseId] [int] NULL,
	[label] [varchar](50) NULL,
 CONSTRAINT [PK_document] PRIMARY KEY CLUSTERED 
(
	[did] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[law]    Script Date: 2017/7/22 17:29:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[law](
	[lid] [int] IDENTITY(1,1) NOT NULL,
	[lawContent] [varchar](max) NULL,
	[CaseId] [int] NULL,
 CONSTRAINT [PK_law] PRIMARY KEY CLUSTERED 
(
	[lid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[word_original]    Script Date: 2017/7/22 17:29:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[word_original](
	[wid] [int] IDENTITY(1,1) NOT NULL,
	[title] [varchar](50) NULL,
	[word] [varchar](max) NULL,
	[content] [varchar](max) NULL,
 CONSTRAINT [PK_word_original] PRIMARY KEY CLUSTERED 
(
	[wid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[word_success]    Script Date: 2017/7/22 17:29:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[word_success](
	[wid] [int] IDENTITY(1,1) NOT NULL,
	[title] [varchar](50) NULL,
	[word] [varchar](50) NULL,
	[content] [varchar](max) NULL,
 CONSTRAINT [PK_word_success] PRIMARY KEY CLUSTERED 
(
	[wid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[advice]  WITH CHECK ADD  CONSTRAINT [FK_advice_case] FOREIGN KEY([CaseId])
REFERENCES [dbo].[case] ([cid])
GO
ALTER TABLE [dbo].[advice] CHECK CONSTRAINT [FK_advice_case]
GO
ALTER TABLE [dbo].[document]  WITH CHECK ADD  CONSTRAINT [CaseId] FOREIGN KEY([CaseId])
REFERENCES [dbo].[case] ([cid])
GO
ALTER TABLE [dbo].[document] CHECK CONSTRAINT [CaseId]
GO
ALTER TABLE [dbo].[law]  WITH CHECK ADD  CONSTRAINT [FK_law_case] FOREIGN KEY([CaseId])
REFERENCES [dbo].[case] ([cid])
GO
ALTER TABLE [dbo].[law] CHECK CONSTRAINT [FK_law_case]
GO
USE [master]
GO
